.primary {
	color: var(--primary)
}

.secondary {
	color: var(--secondary)
}

.accent1 {
	color: var(--accent1)
}

.accent2 {
	color: var(--accent2)
}

.accent3 {
	color: var(--accent3)
}

.accent4 {
	color: var(--accent4)
}

.accent5 {
	color: var(--accent5)
}

.accent6 {
	color: var(--accent6)
}

/* backgrounds */
.bg-primary {
	background-color: var(--primary)
}

.bg-secondary {
	background-color: var(--secondary)
}

.bg-accent1 {
	background-color: var(--accent1)
}

.bg-accent2 {
	background-color: var(--accent2)
}

.bg-accent3 {
	background-color: var(--accent3)
}

.bg-accent4 {
	background-color: var(--accent4)
}

.bg-accent5 {
	background-color: var(--accent5)
}

.bg-accent6 {
	background-color: var(--accent6)
}

/*
@property --accent1 {
	syntax: "<color>";
	inherits: false;
	initial-value: #d504a1;
} */